In [1]:
import json, requests
import pandas as pd    

# load data
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-06-25/ufo_sightings.csv"
data = pd.read_csv(url, index_col=0)

# Shows data
data.head()

,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
date_time,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [2]:
unique_countries = data['country'].unique()
unique_countries

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [3]:
nan_count = data['country'].isna().sum()
nan_count

9670

In [6]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

# Function to find the country using latitude and longitude
def get_country(lat, lon, geolocator):
    try:
        location = geolocator.reverse(f"{lat}, {lon}")
        if location is not None:
            return location.raw['address']['country_code'].upper()
        else:
            return None
    except (KeyError, GeocoderTimedOut, ValueError):
        return None

# Initialize geolocator
geolocator = Nominatim(user_agent="geoapiExercises")

# Update the 'country' column for rows with NaN values using latitude and longitude
data.loc[data['country'].isna(), 'country'] = data[data['country'].isna()].apply(lambda row: get_country(row['latitude'], row['longitude'], geolocator), axis=1)

# Count updated NaN values in 'country' column
nan_count = data['country'].isna().sum()

# Print the updated count of NaN values
print(nan_count)

70

In [10]:
# Convert all lowercase country codes to uppercase
valid_data['country'] = valid_data['country'].str.upper()

In [14]:
# Remove rows with NaN values in the 'country' column
cleaned_data = valid_data.dropna(subset=['country'])

In [15]:
unique_countries_fix = data['country'].unique()
unique_countries_fix

array(['US', 'GB', 'BM', 'CA', 'NZ', 'RU', 'AU', 'LT', 'NO', 'IS', 'MX',
       'AT', 'JP', 'VN', None, 'TR', 'BE', 'CN', 'PE', 'GR', 'IQ', 'MY',
       'AM', 'FR', 'JE', 'CL', 'ID', 'IN', 'TH', 'HU', 'DE', 'ES', 'PH',
       'VE', 'PK', 'IR', 'AF', 'MA', 'TW', 'SA', 'SZ', 'HR', 'CO', 'IL',
       'EG', 'BB', 'PL', 'RS', 'ZA', 'IE', 'PA', 'CR', 'KR', 'HN', 'SE',
       'IT', 'NL', 'DO', 'MK', 'AR', 'CY', 'NA', 'BD', 'JM', 'SY', 'AE',
       'GL', 'KW', 'RO', 'UA', 'BG', 'SK', 'TN', 'DZ', 'TT', 'FI', 'XK',
       'LB', 'LY', 'MU', 'LK', 'BA', 'LV', 'SR', 'GT', 'UZ', 'GH', 'BR',
       'NP', 'BO', 'PT', 'BH', 'JO', 'MM', 'SI', 'DK', 'LU', 'BN', 'VC',
       'MT', 'CU', 'ZW', 'AZ', 'FJ', 'SB', 'PW', 'VG', 'LC', 'MV', 'IM',
       'PY', 'EE', 'OM', 'LS', 'SG', 'NG', 'CH', 'KE', 'TC', 'GY', 'BY',
       'CZ', 'KG', 'BZ', 'EC', 'KY', 'SV', 'TZ', 'FO', 'ZM', 'KH', 'SH',
       'ET', 'CM', 'TL', 'AL', 'SN', 'BS', 'TO', 'BW', 'UY', 'GE', 'UG',
       'CV', 'QA', 'ST', 'KZ', 'PG', 'CD', 'GI', 'MN', 'LA', 'PS'],
      dtype=object)

In [16]:
valid_data = data
# Count the number of unique countries
unique_country_count = valid_data['country'].nunique()

# Print the count of unique countries
print(f"Number of unique countries: {unique_country_count}")

Number of unique countries: 152

In [17]:
data.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)

In [1]:
import pandas as pd 
data = pd.read_csv('ufo_sightings.csv', index_col=0)
unique_shape = data['ufo_shape'].unique()
unique_shape

array(['cylinder', 'light', 'circle', 'sphere', 'disk', 'fireball',
       'unknown', 'oval', 'other', 'cigar', 'rectangle', 'chevron',
       'triangle', 'formation', nan, 'delta', 'changing', 'egg',
       'diamond', 'flash', 'teardrop', 'cone', 'cross', 'pyramid',
       'round', 'crescent', 'flare', 'hexagon', 'dome', 'changed'],
      dtype=object)

In [6]:
# Count NaN values in 'ufo_shape' column
ufo_shape_nan_count = data['ufo_shape'].isna().sum()

# Print the count of NaN values
print(f"Number of NaN values in 'ufo_shape' column: {ufo_shape_nan_count}")

Number of NaN values in 'ufo_shape' column: 1932

In [9]:
# Display rows with NaN values in 'ufo_shape' column
ufo_shape_nan_rows = data[data['ufo_shape'].isna()]

# Print the rows with NaN values in the 'ufo_shape' column
ufo_shape_nan_rows.head()

,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
date_time,,,,,,,,,,
10/10/1995 19:45,milwaukee,wi,US,NaN,120.0,2 min.,Man on Hwy 43 SW of Milwaukee sees large&#44 ...,11/2/1999,43.038889,-87.906389
10/10/1995 22:40,oakland,ca,US,NaN,60.0,1 minute,Woman repts. bright light in NW sky&#44 sudde...,11/2/1999,37.804444,-122.269722
10/10/2011 19:30,murfeesboro/smyrna,tn,US,NaN,2700.0,30-45 minutes,Multi color oblect over Smyrna/Murfreesboro 10...,10/19/2011,35.947474,-86.488367
10/11/1986 20:30,alice springs (nt&#44 australia),NaN,AU,NaN,20.0,20 seconds,Being of light reported&#44Jesus or another m...,1/19/2005,-23.697479,133.883621
10/11/1995 18:30,new york city (brooklyn),ny,US,NaN,720.0,12 min.,Young man&#44 mother witness watch strange red...,11/2/1999,40.714167,-74.006389

In [13]:
# Remove rows with empty strings in the 'country' column
data = data.dropna(subset=['country'])

# Print the updated dataset
data.head()

,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
date_time,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
10/10/1949 21:00,lackland afb,tx,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
10/10/1955 17:00,chester (uk/england),NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
10/10/1956 21:00,edna,tx,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
10/10/1960 20:00,kaneohe,hi,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80258 entries, 10/10/1949 20:30 to 9/9/2013 23:00
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city_area                   80258 non-null  object
 1   state                       74526 non-null  object
 2   country                     80258 non-null  object
 3   ufo_shape                   78329 non-null  object
 4   encounter_length            80255 non-null  float64
 5   described_encounter_length  80258 non-null  object
 6   description                 80244 non-null  object
 7   date_documented             80258 non-null  object
 8   latitude                    80258 non-null  float64
 9   longitude                   80258 non-null  float64
dtypes: float64(3), object(7)
memory usage: 6.7+ MB

In [15]:
# Replace NaN values in 'ufo_shape' column with 'Non_shape'
data['ufo_shape'] = data['ufo_shape'].fillna('Non_shape')
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80258 entries, 10/10/1949 20:30 to 9/9/2013 23:00
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   city_area                   80258 non-null  object
 1   state                       74526 non-null  object
 2   country                     80258 non-null  object
 3   ufo_shape                   80258 non-null  object
 4   encounter_length            80255 non-null  float64
 5   described_encounter_length  80258 non-null  object
 6   description                 80244 non-null  object
 7   date_documented             80258 non-null  object
 8   latitude                    80258 non-null  float64
 9   longitude                   80258 non-null  float64
dtypes: float64(3), object(7)
memory usage: 6.7+ MB

In [16]:
# save data
data.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)

In [29]:
# Read the 'ufo_sightings1.csv' file
data = pd.read_csv('ufo_sightings.csv')
print(data.columns)

Index(['date_time', 'city_area', 'state', 'country', 'ufo_shape',
       'encounter_length', 'described_encounter_length', 'description',
       'date_documented', 'latitude', 'longitude'],
      dtype='object')

In [32]:
# Filter rows with 'date_time' values in the year 1999
data['date_time'] = pd.to_datetime(data['date_time'], errors='coerce')
ufo_sightings_1999 = data[data['date_time'].dt.year == 1999]

# Save the filtered dataset to a CSV file
ufo_sightings_1999.to_csv('ufo_sightings1.csv', index=False)

In [33]:
unique_countries_fix = data['country'].unique()
unique_countries_fix

array(['US', 'GB', 'BM', 'CA', 'NZ', 'RU', 'AU', 'LT', 'NO', 'IS', 'MX',
       'AT', 'JP', 'VN', 'TR', 'BE', 'CN', 'PE', 'GR', 'IQ', 'MY', 'AM',
       'FR', 'JE', 'CL', 'ID', 'IN', 'TH', 'HU', 'DE', 'ES', 'PH', 'VE',
       'PK', 'IR', 'AF', 'MA', 'TW', 'SA', 'SZ', 'HR', 'CO', 'IL', 'EG',
       'BB', 'PL', 'RS', 'ZA', 'IE', 'PA', 'CR', 'KR', 'HN', 'SE', 'IT',
       'NL', 'DO', 'MK', 'AR', 'CY', 'BD', 'JM', 'SY', 'AE', 'GL', 'KW',
       'RO', 'UA', 'BG', 'SK', 'TN', 'DZ', 'TT', 'FI', 'XK', 'LB', 'LY',
       'MU', 'LK', 'BA', 'LV', 'SR', 'GT', 'UZ', 'GH', 'BR', 'NP', 'BO',
       'PT', 'BH', 'JO', 'MM', 'SI', 'DK', 'LU', 'BN', 'VC', 'MT', 'CU',
       'ZW', 'AZ', 'FJ', 'SB', 'PW', 'VG', 'LC', 'MV', 'IM', 'PY', 'EE',
       'OM', 'LS', 'SG', 'NG', 'CH', 'KE', 'TC', 'GY', 'BY', 'CZ', 'KG',
       'BZ', 'EC', 'KY', 'SV', 'TZ', 'FO', 'ZM', 'KH', 'SH', 'ET', 'CM',
       'TL', 'AL', 'SN', 'BS', 'TO', 'BW', 'UY', 'GE', 'UG', 'CV', 'QA',
       'ST', 'KZ', 'PG', 'CD', 'GI', 'MN', 'LA', 'PS'], dtype=object)

In [14]:
pip install country_converter --upgrade

Collecting country_converter
  Downloading country_converter-1.0.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 4.5 MB/s eta 0:00:011
Requirement already satisfied: pandas>=1.0 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from country_converter) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->country_converter) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->country_converter) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0->country_converter) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)
Installing collected packages: country-converter
Successfully installed country-converter-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [17]:
import country_converter as coco
# Read the 'ufo_sightings1.csv' file
data = pd.read_csv('ufo_sightings.csv')

def assign_region(row):
    country_code = row['country']
    region = coco.convert(names=country_code, to='continent', not_found=None)
    return region

data['region'] = data.apply(assign_region, axis=1)
data.head()

,date_time,city_area,state,country,ufo_shape,encounter_length,description,latitude,longitude,region
0,10/10/1949 20:30,san marcos,tx,US,cylinder,2700.0,This event took place in early fall around 194...,29.883056,-97.941111,America
1,10/10/1949 21:00,lackland afb,tx,US,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082,America
2,10/10/1955 17:00,chester (uk/england),NaN,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667,Europe
3,10/10/1956 21:00,edna,tx,US,circle,20.0,My older brother and twin sister were leaving ...,28.978333,-96.645833,America
4,10/10/1960 20:00,kaneohe,hi,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611,America

In [21]:
# Replace "Non_shape" with "unknown"
data['ufo_shape'] = data['ufo_shape'].replace('Non_shape', 'unknown')
data.head()

,date_time,city_area,state,country,ufo_shape,encounter_length,description,latitude,longitude,region
0,10/10/1949 20:30,san marcos,tx,US,cylinder,2700.0,This event took place in early fall around 194...,29.883056,-97.941111,America
1,10/10/1949 21:00,lackland afb,tx,US,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082,America
2,10/10/1955 17:00,chester (uk/england),NaN,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667,Europe
3,10/10/1956 21:00,edna,tx,US,circle,20.0,My older brother and twin sister were leaving ...,28.978333,-96.645833,America
4,10/10/1960 20:00,kaneohe,hi,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611,America

In [22]:
# save data
data.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)

In [27]:
import pandas as pd

# 读取 UFO 数据集
df = pd.read_csv('ufo_sightings.csv')

# 更新 state 列的值
df.loc[df['country'] != 'US', 'state'] = df['region']
df['state'] = df['state'].str.upper()

# 打印更新后的数据集
print(df.head())

   Unnamed: 0.1  Unnamed: 0         date_time             city_area   state  \
0             0           0  10/10/1949 20:30            san marcos      TX
1             1           1  10/10/1949 21:00          lackland afb      TX
2             2           2  10/10/1955 17:00  chester (uk/england)  EUROPE
3             3           3  10/10/1956 21:00                  edna      TX
4             4           4  10/10/1960 20:00               kaneohe      HI

  country ufo_shape  encounter_length  \
0      US  cylinder            2700.0
1      US     light            7200.0
2      GB    circle              20.0
3      US    circle              20.0
4      US     light             900.0

                                         description   latitude   longitude  \
0  This event took place in early fall around 194...  29.883056  -97.941111
1  1949 Lackland AFB&#44 TX.  Lights racing acros...  29.384210  -98.581082
2  Green/Orange circular disc over Chester&#44 En...  53.200000   -2.916667
3  My older brother and twin sister were leaving ...  28.978333  -96.645833
4  AS a Marine 1st Lt. flying an FJ4B fighter/att...  21.418056 -157.803611

    region
0  America
1  America
2   Europe
3  America
4  America

In [28]:
# save data
df.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)

In [31]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 7.0 MB/s eta 0:00:01
Requirement already satisfied: packaging in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (21.3)
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-macosx_10_15_x86_64.whl (18.3 MB)
     |████████████████████████████████| 18.3 MB 139.1 MB/s eta 0:00:01
Collecting shapely>=1.7
  Downloading shapely-2.0.1-cp39-cp39-macosx_10_9_x86_64.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 95.0 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.0.0 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from geopandas) (1.4.2)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.5.0-cp39-cp39-macosx_10_9_x86_64.whl (8.5 MB)
     |████████████████████████████████| 8.5 MB 139.7 MB/s eta 0:00:01
Requirement already satisfied: certifi in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=19.2.0 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click~=8.0 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (8.0.4)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: importlib-metadata in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from fiona>=1.8->geopandas) (4.11.3)
Requirement already satisfied: six in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: zipp>=0.5 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/louis/opt/anaconda3/lib/python3.9/site-packages (from packaging->geopandas) (3.0.4)
Installing collected packages: munch, cligj, click-plugins, shapely, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 munch-2.5.0 pyproj-3.5.0 shapely-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [34]:
import geopandas as gpd
# 创建地图图层，不包括南极州
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
world_no_antarctica = world[world["name"] != "Antarctica"]
world_no_antarctica.to_file("world_no_antarctica.geo.json", driver="GeoJSON")

In [40]:
# Remove rows with empty strings in the 'country' column
df = df.dropna(subset=['state'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80146 entries, 0 to 80257
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date_time         80146 non-null  object
 1   city_area         80146 non-null  object
 2   state             80146 non-null  object
 3   country           80146 non-null  object
 4   ufo_shape         80146 non-null  object
 5   encounter_length  80143 non-null  float64
 6   description       80132 non-null  object
 7   latitude          80146 non-null  float64
 8   longitude         80146 non-null  float64
 9   region            80146 non-null  object
dtypes: float64(3), object(7)
memory usage: 6.7+ MB

In [41]:
# save data
df.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)

In [43]:
# 统计符合条件的记录数
count = len(df[df['state'] == 'CA'])

# 输出结果
print('The number of records where state == ca is:', count)

The number of records where state == ca is: 9627

In [55]:
# 定义一个函数，根据州代码返回地理区域
def get_region(state_code):
    northeast = ['CT', 'ME', 'MA', 'NH', 'NJ', 'NY', 'PA', 'RI', 'VT']
    southeast = ['AL', 'AR', 'DE', 'FL', 'GA', 'KY', 'LA', 'MD', 'MS', 'NC', 'OK', 'SC', 'TN', 'TX', 'VA', 'WV']
    midwest = ['IL', 'IN', 'IA', 'KS', 'MI', 'MN', 'MO', 'NE', 'ND', 'OH', 'SD', 'WI']
    southwest = ['AZ', 'NM', 'OK', 'TX']
    west = ['AK', 'CA', 'CO', 'HI', 'ID', 'MT', 'NV', 'OR', 'UT', 'WA', 'WY']

    if state_code in northeast:
        return 'Northeast'
    elif state_code in southeast:
        return 'Southeast'
    elif state_code in midwest:
        return 'Midwest'
    elif state_code in southwest:
        return 'Southwest'
    elif state_code in west:
        return 'West'
    else:
        return None

# 为数据集添加新列
df['us_region'] = df.apply(lambda row: get_region(row['state']) if row['country'] == 'US' else None, axis=1)
df.head()

,date_time,city_area,state,country,ufo_shape,encounter_length,description,latitude,longitude,region,us_egion,us_region
0,10/10/1949 20:30,san marcos,TX,US,cylinder,2700.0,This event took place in early fall around 194...,29.883056,-97.941111,America,Southeast,Southeast
1,10/10/1949 21:00,lackland afb,TX,US,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082,America,Southeast,Southeast
2,10/10/1955 17:00,chester (uk/england),EUROPE,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667,Europe,None,None
3,10/10/1956 21:00,edna,TX,US,circle,20.0,My older brother and twin sister were leaving ...,28.978333,-96.645833,America,Southeast,Southeast
4,10/10/1960 20:00,kaneohe,HI,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611,America,West,West

In [56]:
# save data
df.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)