In [1]:
import json, requests
import pandas as pd    

# load data
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-06-25/ufo_sightings.csv"
data = pd.read_csv(url, index_col=0)

# Shows data
data.head()

,city_area,state,country,ufo_shape,encounter_length,described_encounter_length,description,date_documented,latitude,longitude
date_time,,,,,,,,,,
10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [2]:
unique_countries = data['country'].unique()
unique_countries

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [3]:
nan_count = data['country'].isna().sum()
nan_count

9670

In [6]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

# Function to find the country using latitude and longitude
def get_country(lat, lon, geolocator):
    try:
        location = geolocator.reverse(f"{lat}, {lon}")
        if location is not None:
            return location.raw['address']['country_code'].upper()
        else:
            return None
    except (KeyError, GeocoderTimedOut, ValueError):
        return None

# Initialize geolocator
geolocator = Nominatim(user_agent="geoapiExercises")

# Update the 'country' column for rows with NaN values using latitude and longitude
data.loc[data['country'].isna(), 'country'] = data[data['country'].isna()].apply(lambda row: get_country(row['latitude'], row['longitude'], geolocator), axis=1)

# Count updated NaN values in 'country' column
nan_count = data['country'].isna().sum()

# Print the updated count of NaN values
print(nan_count)

70

In [10]:
# Convert all lowercase country codes to uppercase
valid_data['country'] = valid_data['country'].str.upper()

In [14]:
# Remove rows with NaN values in the 'country' column
cleaned_data = valid_data.dropna(subset=['country'])

In [15]:
unique_countries_fix = data['country'].unique()
unique_countries_fix

array(['US', 'GB', 'BM', 'CA', 'NZ', 'RU', 'AU', 'LT', 'NO', 'IS', 'MX',
       'AT', 'JP', 'VN', None, 'TR', 'BE', 'CN', 'PE', 'GR', 'IQ', 'MY',
       'AM', 'FR', 'JE', 'CL', 'ID', 'IN', 'TH', 'HU', 'DE', 'ES', 'PH',
       'VE', 'PK', 'IR', 'AF', 'MA', 'TW', 'SA', 'SZ', 'HR', 'CO', 'IL',
       'EG', 'BB', 'PL', 'RS', 'ZA', 'IE', 'PA', 'CR', 'KR', 'HN', 'SE',
       'IT', 'NL', 'DO', 'MK', 'AR', 'CY', 'NA', 'BD', 'JM', 'SY', 'AE',
       'GL', 'KW', 'RO', 'UA', 'BG', 'SK', 'TN', 'DZ', 'TT', 'FI', 'XK',
       'LB', 'LY', 'MU', 'LK', 'BA', 'LV', 'SR', 'GT', 'UZ', 'GH', 'BR',
       'NP', 'BO', 'PT', 'BH', 'JO', 'MM', 'SI', 'DK', 'LU', 'BN', 'VC',
       'MT', 'CU', 'ZW', 'AZ', 'FJ', 'SB', 'PW', 'VG', 'LC', 'MV', 'IM',
       'PY', 'EE', 'OM', 'LS', 'SG', 'NG', 'CH', 'KE', 'TC', 'GY', 'BY',
       'CZ', 'KG', 'BZ', 'EC', 'KY', 'SV', 'TZ', 'FO', 'ZM', 'KH', 'SH',
       'ET', 'CM', 'TL', 'AL', 'SN', 'BS', 'TO', 'BW', 'UY', 'GE', 'UG',
       'CV', 'QA', 'ST', 'KZ', 'PG', 'CD', 'GI', 'MN', 'LA', 'PS'],
      dtype=object)

In [16]:
valid_data = data
# Count the number of unique countries
unique_country_count = valid_data['country'].nunique()

# Print the count of unique countries
print(f"Number of unique countries: {unique_country_count}")

Number of unique countries: 152

In [17]:
data.to_csv('ufo_sightings.csv', sep=',', header=True, index=True,float_format = str)